/* Paragraphs on short position */
.p-short {
    font-size: large;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.navbar {
    background-image: url("fotor_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px !important;
}

/* Size for brand, font in white colour and bold*/
nav .navbar-brand
{
    font-size: xxx-large;
    font-weight: bold;
}

/* Size of nav-items */
nav .nav-link
{
    font-size: x-large;
    font-weight: bold;
}


