{% extends "layout.html" %}

{% block title %}
    Cash
{% endblock %}

{% block main %}
    <h2 style="margin-bottom:1cm">Add cash to your account.</h2>
    <form action="/cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="add_cash" name="cash" placeholder="Cash" type="number">
        </div>
        <p style="margin-bottom:1cm"> </p>
        <button class="btn btn-dark" type="submit">Get top up!</button>
    </form>
{% endblock %}
