{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2 style="margin-bottom:1cm">Your current portfolio.</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <!--th>Name</th-->
                <th>Shares</th>
                <th>Current price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>

            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <!--td>{{ stock.company_name }}</td-->
                <td>{{ stock.shares }}</td>
                <td>${{ stock.current_price }}</td>
                <td>{{ stock.total }}</td>
            </tr>

            {% endfor %}

            <tr>
                <td></td>
                <!--td></td-->
                <td></td>
                <td>CASH</td>
                <td>{{ cash }}</td>
            </tr>

            <tr>
                <td></td>
                <!--td></td-->
                <td></td>
                <td>TOTAL</td>
                <td>{{ total }}</td>
            </tr>

        </tbody>
    </table>

    <p style="margin-bottom:2cm"></p>

    <h2 style="margin-bottom:1cm">Your open short positions.</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <!--th>Name</th-->
                <th>Shares</th>
                <th>Sell price</th>
                <th>Date</th>
                <th>Current price</th>
                <th>Rebuy date</th>
                <th>Current (unrealised) profit</th>
            </tr>
        </thead>
        <tbody>

            {% for short in shorts %}
            <tr>
                <td>{{ short.symbol }}</td>
                <td>{{ short.shares }}</td>
                <td>${{ short.sell_price }}</td>
                <td>{{ short.date }}</td>
                <td>{{ short.current_price }}</td>
                <td>{{ short.rebuy_date }}</td>
                <td>{{ short.current_profit }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}
