{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
    <h2>The leaderboard.</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Realized Long Profits</th>
                <th>Realized Short Profits</th>
                <th>Total Cash Intake</th>
                <th>Total Profit in %</th>
            </tr>
        </thead>
        <tbody>

            {% for user in performance %}
            <tr>
                <td>{{ user.rank }}</td>
                <td>{{ user.username }}</td>
                <td>$ {{ user.profit_long }}</td>
                <td>$ {{ user.profit_short }}</td>
                <td>$ {{ user.cash_amount }}</td>
                <td>{{ user.total_profit }} %</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
{% endblock %}
