{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2 style="margin-bottom:1cm">Sell your stocks.</h2>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
                <!--option selected value disabled placeholder="Symbol"></option-->
                {% for symbol in stocks_to_sell %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <p style="margin-bottom:1cm"> </p>
        <button class="btn btn-dark" type="submit">Sell</button>
    </form>
{% endblock %}
